/*WELCOME ANIMACIJA*/

@font-face {
  font-family: 'Bungee'; /*a name to be used later*/
  src: url('../fonts/Bungee.ttf'); /*URL to font*/
}

:root {
    --primary-color: #ececec;
    --secondary-color: #81e4a2;
    --complimentary-color: transparent;
  }
  
  .container1 {
    min-height: 15vh;
    position: relative;
    width: auto;
    display: flex;
    background-color: var(--complimentary-color);
    justify-content: center;
    align-items: center;
    font-family: 'Bungee',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
   margin-top: 50px;
  }
  
  .container1 h1 {
    font-size: 50px;
    color: var(--primary-color);
    transform: translateY(-600px);
    animation: 0.6s slideIn ease-in-out forwards 0.4s;
    z-index: 10;
    opacity: 0;
    position: relative;
    text-shadow: 2px 2px #2fb33a;
  }
  /*
  .container1  h1::before {
      content: '';
      width: 0%;
      height: 43px;
      background-color: var(--secondary-color);
      position: absolute;
      bottom: -10px;
      animation: 0.7s underline ease-in-out forwards 1.3s;
      mix-blend-mode: screen;
  }
  */
  .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
      left: 0;
      right: 0;
      background-color: var(--secondary-color);
      transform: scale(1);
      animation: 2s slideIn ease-in-out forwards, 0 skewBg ease-in-out;
  }
  
  @keyframes skewBg {
    0% {
      transform: scale(.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
  
  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @media screen and (max-width: 600px) {

    .container1 h1 {
      font-size: 25px;
    }

    }

    @media screen and (max-width: 1300px) {

      .container1 h1 {
        font-size: 25px;
       
      }
      .container1 {
        min-height: 10vh;
      }
    }